body {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  padding: 10px;
  background-color: rgba(231, 238, 240, 0.865);
  color: var(--text-color);
  line-height: 1.6;
  justify-content:;
  }
.justifie{
    text-align: justify;
}